.dropdown ul {
  list-style: none;
}
.dd_default {
  display: flex;
  align-items: center;
}
.dd_icon_down {
  background-image: url("../assets/icon-down-triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 14px;
  height: 6px;
}
.dd_selection {
  position: absolute;
  background-color: #fff;
  top: 0px;
  left: 0px;
  border-radius: 6px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  min-width: 120px;
  max-height: 160px;
  overflow-y: auto;
}
.dd_selection li {
  padding: 8px;
  line-height: 16px;
  font-weight: 500;
}
.dd_selection li .active,
.dd_selection li:hover {
  background-color: rgba(0, 0, 0, 0.14);
}