.content {
  margin-left: 188px;
  padding: 40px 16px;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.search_input {
  position: relative;
  display: flex;
  overflow: hidden;
}

.search_input input {
  font-size: 14px;
  border: none;
  padding: 16px 0;
  width: calc(100% - 32px);
  padding-right: 0;
}

.search_input input::-webkit-input-placeholder {
  color: rgba(34, 34, 34, 0.3);
  font-style: italic;
}

.search_input input:-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.3);
  font-style: italic;
}

.search_input input::-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.3);
  font-style: italic;
}

.search_input input::placeholder {
  color: rgba(34, 34, 34, 0.3);
  font-style: italic;
}

.search_initial_width {
  width: 140px;
}

.icon_search {
  height: 18px;
  padding: 16px;
  content: url("../assets/search.svg");
}



.pages {
  padding: 0 !important;
}

.pages li {
  display: inline-flex;
  padding: 8px;
  color: rgba(34, 34, 34, 0.6);
}

.pages .active {
  color: #000000;
}

.topic_board {
  overflow: hidden;
  border-radius: 6px;
}

.board_wrapper {
  display: flex;
  background-color: #ffffff;
}

.content_left {
  width: 70%;
  padding: 16px;
}

.content_right {
  width: 30%;
  padding: 16px;
  border-left: solid 1px #f1f1f1;
}

.content_header {
  padding-bottom: 16px;
  border-bottom: solid 1px #f1f1f1;
  font-size: 14px;
  color: #12aecb;
}

.result_topic {
  padding: 16px 0;
}

.bottom_result {
  width: calc(70% - 28px);
  padding-left: 16px;
  background-color: #ffffff;
}

.rounded_choices {
  display: inline-flex;
  overflow: hidden;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #e4e8ea;
  border-radius: 24px;
  font-weight: 500;
  margin: 0 8px 8px 0;
}

.add_choices {
  display: inline-flex;
  overflow: hidden;
  margin: 0 8px 8px 0;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid #6acce0;
  border-radius: 24px;
  font-weight: 500;
}

.add_choices .rounded_label {
  padding: 16px;
  color: #12aecb;
}

.rounded_label {
  color: #323c47;
  padding: 8px;
  font-size: 14px;
}

.rounded_info {
  border-left: 1px solid #f1f1f1;
  color: rgba(34, 34, 34, 0.3);
  padding: 8px;
}

.add_topic {
  padding: 24px;
  background-color: #6acce0;
  background-image: url("../assets/icon-add-white.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.remove_topic {
  width: 24px;
  border-left: 1px solid #f1f1f1;
  padding: 16px;
  background-image: url("../assets/remove-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.topic_keyword {
  display: flex;
}

.multi_field {
  display: inline-flex;
  border: 1px solid #e9eff4;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 6px;
}

.multi_field input {
  padding: 12px;
  border: none;
}

.multi_conj {
  padding: 16px 8px;
  font-weight: 800;
  border-right: 1px solid #e9eff4;
  border-left: 1px solid #e9eff4;
  color: #323c47;
}

.add_keyword {
  margin-left: 8px;
  padding: 16px;
  border: 1px solid #e9eff4;
  border-radius: 6px;
  box-sizing: border-box;
  background-image: url("../assets/icon-add.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.topic_tags {
  padding: 16px 0;
}

.tags {
  display: inline-block;
  padding: 8px;
  margin-right: 8px;
  border-radius: 16px;
  overflow: hidden;
  background-color: #a2c3aa;
  box-shadow: 0 1px 4px 0 rgba(61, 97, 255, 0.27);
  font-size: 12px;
  color: #ffffff;
}

.tags:last-child {
  margin-right: 0;
}

.tags span {
  padding: 8px;
  border-right: solid 1px #e9eff4;
  margin-right: 8px;
}

.tags button {
  background-color: #a2c3aa;
  width: 12px;
  height: 12px;
  margin-left: 8px;
  background-image: url("../assets/delete-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.submit_section {
  padding-top: 32px;
}

.submit_button {
  width: 100%;
  padding: 16px;
  font-size: 14px;
  border-radius: 24px;
  background-color: #72d0e3;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
  color: #ffffff;
}

.filter_board {
  margin: 24px 0 16px;
  display: flex;
  align-items: center;
}

.filter_content {
  display: inline-flex;
  margin-right: 16px;
  padding: 8px;
  border-radius: 6px;
  background-color: #ffffff;
}

.filter_content .filter_display {
  padding: 8px;
  cursor: pointer;
  min-width: 228px;
  border-right: solid 1px #f1f1f1;
}

.icon_periode {
  position: relative;
  padding: 8px;
}

.icon_calendar {
  height: 30px;
  min-width: 82px;
  background-image: url("../assets/icon-calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.global_topic_board {
  overflow: hidden;
  border-radius: 6px;
}

.main_topic_board {
  background-color: #ffffff;
  padding: 16px;
}

.topic_timeline_board {
  overflow: hidden;
  border-radius: 6px;
  margin: 16px 0;
}
.main_timeline_board {
  background-color: #ffffff;
  padding: 0 16px 8px;
}
.content_tl {
  height: 520px;
  overflow-y: auto;
  padding: 16px 0;
  display: flex;
}
.tl_preview {
  border-right: solid 1px #e9eff4;
  padding: 0 16px;
  overflow-y: auto;
}
.tl_preview:first-child {
  padding-left: 0;
}
.tl_preview:last-child {
  border-right: none;
}
.tl_preview h4 {
  font-weight: 800;
  padding-bottom: 8px;
  font-size: 12px;
}
.tl_preview h5 {
  font-weight: 500;
  color: rgba(34, 34, 34, 0.6);
  font-size: 12px;
  padding: 8px 0;
}
.tl_preview ul {
  list-style: none;
  padding-left: 16px;
}
.tl_preview ul li {
  padding: 8px;
}
.tl_preview ul .active {
  list-style: outside;
}
.tl_preview .tl_soft,
.tl_preview .row_detail span,
.row_detail .tl_preview span {
  color: rgba(34, 34, 34, 0.6);
}
.tl_preview .active {
  color: #12aecb;
}
.news_wrapper {
  padding: 8px 0;
  border-bottom: solid 1px #e9eff4;
}
.news_wrapper:first-child {
  padding-top: 0;
}
.news_active > h5 {
  color: #12aecb;
}
.news_media {
  padding-top: 16px;
  margin: 0 auto;
}
.news_media:first-child {
  padding-top: 0;
}
.news_page {
  padding: 0 !important;
  margin: 32px auto 0;
}
.news_page li {
  display: inline-flex;
  padding: 8px;
  color: rgba(34, 34, 34, 0.6);
}
.news_page .active {
  color: #000000;
}
.news_time {
  padding: 8px 0;
}
.tl_date {
  width: 15%;
}
.tl_news {
  width: 17%;
}
.tl_detail {
  width: 68%;
}
.detail_info {
  display: flex;
  padding-bottom: 8px;
  border-bottom: solid 1px #e9eff4;
}
.detailPadding,
.row_detail {
  padding: 8px;
}
.detailPadding:first-child,
.row_detail:first-child {
  border-top: 0;
}
.row_detail h5 {
  padding: 0;
  color: inherit;
}
.cols_left {
  width: 160px;
}
.cols_middle {
  width: 128px;
}
.tl_grapich {
  position: relative;
  width: 15%;
  overflow-x: hidden;
}
.graph_title {
  text-align: center;
}
.grapich_cards {
  width: 280px;
  position: absolute;
  left: -56px;
}
.graphic_content {
  padding-left: 0 !important;
  margin-top: 140px;
  padding-top: 16px;
}
.graphic_content li {
  border-bottom: solid 1px #e9eff4;
}
.graphic_content li h5 {
  padding: 0;
}
.graphic_content li .graph_color,
.graphic_content li .graph_blue::before,
.graphic_content li .graph_red::before,
.graphic_content li .graph_green::before {
  display: inline-block;
  width: 16px;
  height: 8px;
  content: "`";
  border-radius: 2px;
  margin-left: -24px;
  font-size: 6px;
  margin-right: 8px;
}
.graphic_content li .graph_blue {
  padding-left: 16px;
}
.graphic_content li .graph_blue::before {
  background-color: #15b4f1;
  color: #15b4f1;
}
.graphic_content li .graph_red {
  padding-left: 16px;
}
.graphic_content li .graph_red::before {
  background-color: #f15c5c;
  color: #f15c5c;
}
.graphic_content li .graph_green {
  padding-left: 16px;
}
.graphic_content li .graph_green::before {
  background-color: #b8e986;
  color: #b8e986;
}
.graphic_content .active_graph {
  color: #12aecb;
  list-style: none;
}
.graphic_content .active_graph h5 {
  color: #12aecb;
}

.tabs_tl_center {
  display: flex;
}
.tabs_tl_center li {
  flex: 1 0 0;
  text-align: center;
  color: #000000 !important;
  justify-content: center;
}
.content_plugin {
  padding: 16px 0;
}

.tabs_tl {
  border-bottom: solid 1px #e9eff4;
  padding: 8px 0;
}
