.content {
  margin-left: 188px;
  padding: 40px 16px;
}

.board_header {
  background: linear-gradient(
    270deg,
    rgba(11, 194, 229, 0.16) 0%,
    #5dc8dd 100%
  );
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
  padding: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
}

.filter_board {
  margin: 24px 0 16px;
  display: flex;
  align-items: center;
}

.filter_content {
  display: inline-flex;
  margin-right: 16px;
  padding: 8px;
  border-radius: 6px;
  background-color: #ffffff;
}

.filter_content .filter_display {
  padding: 8px;
  cursor: pointer;
  min-width: 228px;
  border-right: solid 1px #f1f1f1;
}

.icon_periode {
  position: relative;
  padding: 8px;
}

.icon_calendar {
  height: 30px;
  min-width: 82px;
  background-image: url("../assets/icon-calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.cards_wrapper {
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 16px;
}

.cards_content {
  background-color: #ffffff;
}

.pages {
  padding: 0 !important;
}

.pages li {
  display: inline-flex;
  padding: 8px;
  color: rgba(34, 34, 34, 0.6);
}

.pages .active {
  color: #000000;
}



.insight_date {
  padding: 16px 0;
  display: flex;
  align-items: center;
}

.insight_date h3 {
  padding: 8px 36px 8px 16px;
}

.insight_table {
  display: flex;
  padding: 8px 16px 16px;
}

.cols_insight {
  flex: 1 0 0;
  max-height: 520px;
  overflow-y: auto;
  border-right: solid 1px #e4e8ea;
  padding: 0 32px;
}

.cols_insight h4 {
  padding: 0 0 16px;
  color: rgba(34, 34, 34, 0.6);
}

.cols_insight:first-child {
  padding-left: 16px !important;
}

.insight_list {
  list-style: none;
}

.insight_list li {
  padding: 4px 0;
}

.insight_list .active_list {
  list-style: disc;
  color: #12aecb;
}

.cols_embed {
  flex: 3 0 0;
  padding: 8px;
}

.embed_bar {
  display: flex;
  align-items: center;
}

.refres_icon {
  margin-right: 16px;
  height: 24px;
  width: 28px;
  background-image: url("../assets/icon-refresh.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.input_bar {
  min-width: 60%;
}

.insight_iframe {
  min-height: 300px;
  width: 100%;
  border-radius: 4px;
  background-color: #d8d8d8;
  margin-top: 8px;
}

.insight_iframe iframe {
  width: calc(100% - 2px);
  height: 420px;
  padding: 1px;
}

.cols_insight_news:last-child {
  border-right: none !important;
}

.insight_google_list {
  list-style: none;
}

.insight_google_list li {
  padding: 8px 0;
  display: flex;
}

.insight_google_list li span {
  flex: 1 0 0;
}

.insight_google_list li span:first-child {
  flex: 3 0 0;
}

.insight_google_list .news_list_header {
  padding: 16px 0 8px;
}

.insight_google_list .news_list_header span {
  font-weight: 800;
  padding-bottom: 8px;
}

.insight_google_list .active_list {
  list-style: disc;
  color: #12aecb;
}
