body {
  margin: 0;
  background: linear-gradient(90deg, #d0ecf3 0%, #e0feff 100%);
  font-family: "roboto";
  font-size: 12px;
  line-height: 16px;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.7;
}

.wrapper {
  min-width: 1280px;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

ul ul,
ul ol,
ol ul,
ol ol {
  list-style: none;
}

textarea:focus,
input:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #ffffff;
}

button:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.align_center {
  text-align: center;
}

.check_control {
  display: block;
  position: relative;
  padding-left: 30px;
  height: 22px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 22px;
}

.check_control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
}

.check_control:hover input ~ .checkmark {
  background-color: #ccc;
}

.check_control input:checked ~ .checkmark {
  background-color: #29b6d0;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check_control input:checked ~ .checkmark:after {
  display: block;
}

.check_control .checkmark:after {
  left: 8px;
  top: 3px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.board_header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    270deg,
    rgba(11, 194, 229, 0.16) 0%,
    #5dc8dd 100%
  );
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
  padding: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
}

.help {
  display: inline-flex;
  margin-right: 16px;
  width: 22px;
  height: 22px;
  background-color: inherit;
  background-image: url("../assets/help-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.help_tips {
  position: absolute;
  top: 24px;
  right: 0; 
  min-width: 320px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #e9eff4;
  border: 1px solid #e9eff4;
  text-align: left;
}

.tips_title {
  background-color: #5dc8dd;
  color: #FFFFFF;
  padding: 8px 12px;
  font-weight: 600;
}

.tips_content {
  padding: 16px 12px;
}

.collapse {
  display: inline-flex;
  width: 22px;
  height: 22px;
  background-color: inherit;
  background-image: url("../assets/collapse-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button_wrapper {
  padding: 16px 32px;
  font-size: 14px;
  border-radius: 6px;
  background-color: #72d0e3;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
  color: #ffffff;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


.form_control label {
  display: inline-block;
  padding: 8px 0;
  font-size: 14px;
  line-height: 16px;
}

.form_control input,
.form_control .picker_wrap {
  font-size: 12px;
  width: 100%;
  padding: 8px;
  border: 1px solid #e9eff4;
  border-radius: 6px;
  box-sizing: border-box;
}

.form_control .picker_wrap > span {
  margin: 4px;
  padding: 4px 4px 4px 8px;
  border-radius: 16px;
  color: #ffffff;
  background-color: rgba(34, 34, 34, 0.3);
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

.form_control .picker_wrap > span i {
  width: 20px;
  height: 20px;
  background-image: url("../assets/delete-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form_control .picker_wrap > .blue {
  background-color: #269dfa;
}

.form_control .picker_wrap > .green {
  background-color: #48d2a0;
}


.tags_wrap {
  float: left;
}

.tags_wrap input {
  width: auto !important;
  border: none !important;
}

.loader_wrapper {
  width: 100%;
  padding: 16px;
}

.loader {
  margin: 0 auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #72d0e3; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}