.content {
  margin-left: 188px;
  padding: 40px 16px;
}

.filter_board {
  margin: 24px 0 16px;
  display: flex;
  align-items: center;
}

.filter_content {
  display: inline-flex;
  margin-right: 16px;
  padding: 8px;
  border-radius: 6px;
  background-color: #ffffff;
}

.filter_content .filter_display {
  padding: 8px;
  cursor: pointer;
  min-width: 228px;
  border-right: solid 1px #f1f1f1;
}

.icon_periode {
  position: relative;
  padding: 8px;
}

.icon_calendar {
  height: 30px;
  min-width: 82px;
  background-image: url("../assets/icon-calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.cards_wrapper {
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 16px;
}

.cards_content {
  background-color: #ffffff;
}

.pages {
  padding: 0 !important;
}

.pages li {
  display: inline-flex;
  padding: 8px;
  color: rgba(34, 34, 34, 0.6);
}

.pages .active {
  color: #000000;
}

.search_input {
  position: relative;
  display: flex;
  overflow: hidden;
}

.search_input input {
  font-size: 14px;
  border: none;
  padding: 16px 0;
  width: calc(100% - 32px);
  padding-right: 0;
}

.search_input input::-webkit-input-placeholder {
  color: rgba(34, 34, 34, 0.3);
  font-style: italic;
}

.search_input input:-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.3);
  font-style: italic;
}

.search_input input::-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.3);
  font-style: italic;
}

.search_input input::placeholder {
  color: rgba(34, 34, 34, 0.3);
  font-style: italic;
}

.search_initial_width {
  width: 140px;
}

.icon_search {
  height: 18px;
  padding: 16px;
  content: url("../assets/search.svg");
}

.no_margin_top {
  margin-top: 0 !important;
}

.media_content {
  padding: 16px;
}

.media_content h4 {
  padding: 16px 0;
}

.media_search {
  display: flex;
}

.search_input {
  flex: 1 0 0;
}

.search_input input {
  padding: 8px 0 !important;
}

.icon_search_media {
  padding: 8px !important;
}

.search_filter {
  padding: 8px 16px !important;
  border-left: solid 1px #e9eff4;
}

.media_list {
  padding: 8px 0;
  list-style: none;
}

.media_list li {
  cursor: pointer;
  display: inline-flex;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #e4e8ea;
  border-radius: 24px;
  font-weight: 500;
  margin: 0 16px 16px 16px;
}

.media_list li span {
  padding: 0 8px;
  line-height: 32px;
}

.media_list li button {
  width: 24px;
  border-left: 1px solid #f1f1f1;
  padding: 16px;
  background-size: 24px;
  background-image: url("../assets/icon-copy.png");
  background-repeat: no-repeat;
  background-position: center;
}

.media_list .active > button {
  background-image: url("../assets/icon-copy-active.png");
}

.media_list .active,
.media_list .active > button {
  color: #ffffff;
  background-color: #12aecb;
}

.media_pages {
  margin-top: 16px;
  text-align: center;
}
.topic_timeline_board {
  overflow: hidden;
  border-radius: 6px;
  margin: 16px 0;
}
.main_timeline_board {
  background-color: #ffffff;
  padding: 0 16px 8px;
}
.content_tl {
  height: 520px;
  overflow-y: auto;
  padding: 16px 0;
  display: flex;
}
.tl_preview {
  border-right: solid 1px #e9eff4;
  padding: 0 16px;
  overflow-y: auto;
}
.tl_preview:first-child {
  padding-left: 0;
}
.tl_preview:last-child {
  border-right: none;
}
.tl_preview h4 {
  font-weight: 800;
  padding-bottom: 8px;
  font-size: 12px;
}
.tl_preview h5 {
  font-weight: 500;
  color: rgba(34, 34, 34, 0.6);
  font-size: 12px;
  padding: 8px 0;
}
.tl_preview ul {
  list-style: none;
  padding-left: 16px;
}
.tl_preview ul li {
  padding: 8px;
}
.tl_preview ul .active {
  list-style: outside;
}
.tl_preview .tl_soft,
.tl_preview .row_detail span,
.row_detail .tl_preview span {
  color: rgba(34, 34, 34, 0.6);
}
.tl_preview .active {
  color: #12aecb;
}
.news_wrapper {
  padding: 8px 0;
  border-bottom: solid 1px #e9eff4;
}
.news_wrapper:first-child {
  padding-top: 0;
}
.news_active > h5 {
  color: #12aecb;
}
.news_media {
  padding-top: 16px;
  margin: 0 auto;
}
.news_media:first-child {
  padding-top: 0;
}
.news_page {
  padding: 0 !important;
  margin: 32px auto 0;
}
.news_page li {
  display: inline-flex;
  padding: 8px;
  color: rgba(34, 34, 34, 0.6);
}
.news_page .active {
  color: #000000;
}
.news_time {
  padding: 8px 0;
}
.tl_date {
  width: 15%;
}
.tl_news {
  width: 17%;
}
.tl_detail {
  width: 68%;
}
.detail_info {
  display: flex;
  padding-bottom: 8px;
  border-bottom: solid 1px #e9eff4;
}
.detailPadding,
.row_detail {
  padding: 8px;
}
.detailPadding:first-child,
.row_detail:first-child {
  border-top: 0;
}
.row_detail h5 {
  padding: 0;
  color: inherit;
}
.cols_left {
  width: 160px;
}
.cols_middle {
  width: 128px;
}


.cards_wrapper {
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 16px;
}
.cards_content {
  background-color: #ffffff;
}
.media_header {
  padding: 16px;
  color: #12aecb;
  font-size: 14px;
  font-weight: 800;
  border-bottom: solid 1px #e9eff4;
}
.tl_grapich {
  position: relative;
  width: 15%;
  overflow-x: hidden;
}
.media_graph {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.graphic_content li {
  border-bottom: solid 1px #e9eff4;
}
.graphic_content li h5 {
  padding: 0;
}
.graphic_content li .graph_color,
.graphic_content li .graph_blue::before,
.graphic_content li .graph_red::before,
.graphic_content li .graph_green::before {
  display: inline-block;
  width: 16px;
  height: 8px;
  content: "`";
  border-radius: 2px;
  margin-left: -24px;
  font-size: 6px;
  margin-right: 8px;
}
.graphic_content li .graph_blue {
  padding-left: 16px;
}
.graphic_content li .graph_blue::before {
  background-color: #15b4f1;
  color: #15b4f1;
}
.graphic_content li .graph_red {
  padding-left: 16px;
}
.graphic_content li .graph_red::before {
  background-color: #f15c5c;
  color: #f15c5c;
}
.graphic_content li .graph_green {
  padding-left: 16px;
}
.graphic_content li .graph_green::before {
  background-color: #b8e986;
  color: #b8e986;
}
.graphic_content .active_graph {
  color: #12aecb;
  list-style: none;
}
.graphic_content .active_graph h5 {
  color: #12aecb;
}
