.chip,
.chip_green,
.chip_red {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 16px;
  background-color: #269dfa;
  color: #ffffff;
}
.chip_green {
  background-color: #48d2a0;
}
.chip_red {
  background-color: #ff5d5d;
}
.cols_right {
  width: calc(100% - 288px);
}
.list_icon,
.list_profile,
.list_pillar {
  padding-left: 8px !important;
}
.list_icon li,
.list_profile li,
.list_pillar li {
  display: inline-flex;
  margin: 0 4px;
  padding: 8px;
  padding-left: 16px !important;
  background-repeat: no-repeat;
  background-position: left;
}
.list_icon li:first-child,
.list_profile li:first-child,
.list_pillar li:first-child {
  margin-left: 0;
}
.list_profile li {
  background-image: url("../assets/profile-green.svg");
}
.list_pillar li {
  background-image: url("../assets/pillar-red.svg");
}
.detail_statement {
  padding: 8px;
}
.statement_list {
  padding-left: 0 !important;
  display: flex;
}
.statement_list li {
  position: relative;
  width: 30%;
  margin: 0 4px;
  padding: 8px !important;
  padding-bottom: 44px !important;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.statement_list li:first-child {
  margin-left: 0;
}
.statement_list li:last-child {
  margin-right: 0;
}
.statement_list li > p {
  margin: 0;
}
.statement_info {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: calc(100% - 16px);
  display: flex;
  justify-content: space-between;
}
.scroll_bullets {
  text-align: center;
  padding: 8px;
}
.scroll_bullets li {
  padding: 0 !important;
  margin: 4px;
  display: inline-flex;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #d8d8d8;
}
.scroll_bullets .active {
  background-color: rgba(34, 34, 34, 0.6);
}
.news_content .news_paragraph p:first-child {
  text-indent: 36px;
}
.news_content img {
  max-width: 420px;
  float: right;
}