.content {
  margin-left: 188px;
  padding: 40px 16px;
}

.board_header {
  background: linear-gradient(
    270deg,
    rgba(11, 194, 229, 0.16) 0%,
    #5dc8dd 100%
  );
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
  padding: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
}

.filter_board {
  margin: 24px 0 16px;
  display: flex;
  align-items: center;
}

.filter_content {
  display: inline-flex;
  margin-right: 16px;
  padding: 8px;
  border-radius: 6px;
  background-color: #ffffff;
}

.filter_content .filter_display {
  padding: 8px;
  cursor: pointer;
  min-width: 228px;
  border-right: solid 1px #f1f1f1;
}

.icon_periode {
  position: relative;
  padding: 8px;
}

.icon_calendar {
  height: 30px;
  min-width: 82px;
  background-image: url("../assets/icon-calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.global_topic_board {
  overflow: hidden;
  border-radius: 6px;
}

.main_topic_board {
  background-color: #ffffff;
  padding: 16px;
}


.search_board {
  overflow: hidden;
  border-radius: 6px;
}

.tabs_report {
  background: #fff;
  padding: 8px 16px;
}

.main_board {
  padding: 8px 0;
  display: flex;
  background-color: #ffffff;
}

.contents {
  padding: 8px 16px 16px;
  border-right: 1px solid #e9eff4;
}

.select_topic_section {
  flex: 1 0 0 !important;
}

.form_topic_section {
  flex: 5 0 0 !important;
}

.form_topic_wrapper {
  max-width: 520px;
}

.checkbox_reporting {
  padding: 8px;
}

.options_wrap {
  padding-top: 8px;
}

.options_control {
  display: flex;
  padding: 8px 0;
}

.options {
  padding-right: 16px;
}

.no_margin_top {
  margin-top: 0 !important;
}

.submit_reporting {
  padding-top: 32px;
}