.content {
  margin-left: 188px;
  padding: 40px 16px;
}

.board_header {
  background: linear-gradient(
    270deg,
    rgba(11, 194, 229, 0.16) 0%,
    #5dc8dd 100%
  );
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
  padding: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
}

.filter_board {
  margin: 24px 0 16px;
  display: flex;
  align-items: center;
}

.filter_content {
  display: inline-flex;
  margin-right: 16px;
  padding: 8px;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #e9eff4;
}

.filter_content .filter_display {
  padding: 8px;
  cursor: pointer;
  min-width: 228px;
  border-right: solid 1px #f1f1f1;
}

.icon_periode {
  position: relative;
  padding: 8px;
}

.icon_calendar {
  height: 30px;
  min-width: 82px;
  background-image: url("../assets/icon-calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}


.search_board {
  overflow: hidden;
  border-radius: 6px;
}

.main_board {
  padding: 8px 0;
  display: flex;
  background-color: #ffffff;
}

.contents {
  flex: 1 0 0;
  padding: 8px 16px 16px;
  border-right: 1px solid #e9eff4;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 8px;
}

.filter_board_search {
  margin: 16px 0 0;
}

.submit_section {
  padding-top: 32px;
  text-align: right;
}

.search_result {
  padding: 12px 0 0 12px;
}

.search_result li {
  padding-top: 8px;
}

.media_source {
  padding: 0 0 8px;
  color: rgba(34, 34, 34, 0.6);
}

.media_source span {
  padding-right: 16px;
}
