.side_navbar {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  width: 188px;
  text-align: center;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.24);
}

.profile {
  padding: 32px 16px;
}

.profile_pic {
  height: 74px;
  width: 74px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid #ffffff;
}

.profile_name {
  padding-top: 8px;
  color: rgba(18, 174, 203, 0.9);
  font-family: Roboto;
  font-size: 16px;
  line-height: 18px;
}

.search_box {
  position: relative;
  margin: 0 16px;
  width: calc(100% - 32px);
  border: 1px solid #6acde0;
  border-radius: 24px;
  display: flex;
  overflow: hidden;
}

.search_box input {
  font-size: 12px;
  border: none;
  padding: 16px;
  width: calc(100% - 32px);
  padding-right: 0;
}

.search_box input::-webkit-input-placeholder {
  color: rgba(34, 34, 34, 0.3);
  font-style: italic;
}

.search_box input:-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.3);
  font-style: italic;
}

.search_box input::-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.3);
  font-style: italic;
}

.search_box input::placeholder {
  color: rgba(34, 34, 34, 0.3);
  font-style: italic;
}

.icon_search {
  height: 18px;
  padding: 16px;
  content: url("../assets/search.svg");
}

.menu_wrapper {
  padding: 16px 0;
  text-align: left;
}

.menu_parent {
  padding: 10px 8px 10px 16px;
  font-size: 14px;
  display: flex;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

.collapsed {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

.mn_active {
  background-color: #72d0e3;
  color: #ffffff;
  box-shadow: 0px 2px 4px 1px rgba(42, 173, 227, 0.32);
}

.parent_label {
  width: calc(100% - 48px);
  line-height: 24px;
  padding: 0 8px;
  cursor: pointer;
}

.icon_dd {
  width: 8px;
  background-repeat: no-repeat;
  text-align: right;
  padding: 8px;
  background-position: center;
  cursor: pointer;
}

.icon_up {
  background-image: url("../assets/arrow-down.svg");
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.icon_down {
  background-image: url("../assets/arrow-down.svg");
}

.menu_list {
  display: none;
}

.menu_list.show {
  display: block;
}

.menu_list li {
  padding: 8px 24px;
  font-size: 12px;
  line-height: 14px;
}

.menu_list li:first-child {
  padding-top: 16px;
}

.menu_list .list_active {
  color: #12aecb;
}

.sub_menu {
  padding: 8px 8px 8px 24px !important;
  cursor: pointer;
}

.sub_header {
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.sub_menu ul {
  padding: 0;
  margin: 0;
}

.sub_menu li {
  padding: 8px !important;
  margin: 0 !important;
}

.sub_menu li:first-child {
  padding-top: 16px;
}

.logo_img {
  padding: 16px 0;
}

.mn_active > .icon_up {
  background-image: url("../assets/arrow-up-white.svg");
}

.mn_active > .icon_down {
  background-image: url("../assets/arrow-up-white.svg");
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.mn_active > .dashboard {
  background-image: url("../assets/dashboard-white.svg");
}

.mn_active > .topic {
  background-image: url("../assets/topic-white.svg");
}

.mn_active > .databank {
  background-image: url("../assets/data-bank-white.svg");
}

.mn_active > .media {
  background-image: url("../assets/media-white.svg");
}

.mn_active > .insight {
  background-image: url("../assets/insight-white.svg");
}

.mn_active > .reporting {
  background-image: url("../assets/reporting-white.svg");
}

.dashboard {
  background-image: url("../assets/dashboard.svg");
  height: 24px;
  width: 28px;
  background-repeat: no-repeat;
}

.topic {
  height: 24px;
  width: 28px;
  background-repeat: no-repeat;
  background-image: url("../assets/topic.svg");
}

.databank {
  height: 24px;
  width: 28px;
  background-repeat: no-repeat;
  background-image: url("../assets/data-bank.svg");
}

.media {
  height: 24px;
  width: 28px;
  background-repeat: no-repeat;
  background-image: url("../assets/media.svg");
}

.insight {
  height: 24px;
  width: 28px;
  background-repeat: no-repeat;
  background-image: url("../assets/insight.svg");
}

.reporting {
  height: 24px;
  width: 28px;
  background-repeat: no-repeat;
  background-image: url("../assets/reporting.svg");
}