.tabs_tl {
  border-bottom: solid 1px #e9eff4;
  padding: 8px 0;
}
.tabs_tl li {
  padding: 16px;
  display: inline-flex;
  border-right: solid 1px #e9eff4;
  font-size: 14px;
  color: rgba(34, 34, 34, 0.3);
  cursor: pointer;
}
.tabs_tl li:first-child {
  padding-left: 0;
}
.tabs_tl li:last-child {
  border-right: none;
}
.tabs_tl .active_tabs {
  color: #12aecb;
}
.tabs {
  background: #fff;
  padding: 8px 16px;
}
